.autocomplete-wrapper{
    display: inline-block;
    width: auto;
    vertical-align: top;
    height: 70px;
}
.autocomplete-wrapper__input{
    width: 230px;
    height: auto;
    display: inline-block;
    position: relative;
    vertical-align: top;
}
.autocomplete-wrapper__input__dropdown{
    position: absolute;
    width: 100%;
    top: 70px;
    left: 0;
    background: #ffffff;
    z-index: 10;
}
.autocomplete-wrapper__input__dropdown__loader{
    width: 50px;
    height: 50px;
    margin: 0 auto;
    display: block;
}
.autocomplete-wrapper__input__dropdown__ul{
    list-style: none;
    max-height: 100px;
    overflow: hidden;
    overflow-y: auto;
    padding: 0;
    margin: 0;
    border: 1px solid grey;
}
.autocomplete-wrapper__input__dropdown__ul__li{
    padding: 5px 10px;
    border-bottom: 1px solid grey;
    width: 100%;
    height: 25px;
    cursor: pointer;
    background: transparent;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    font-size: 12px;
}
.autocomplete-wrapper__input__dropdown__ul__li:hover{
    background: darkgrey;
}
.autocomplete-wrapper__input__element{
    border: 1px solid grey;
    height: 70px;
    font-size: 20px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}
.autocomplete-wrapper__submit{
    width: 70px;
    height: 70px;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    margin-left: 10px;
}
.autocomplete-wrapper__submit__element{
    cursor: pointer;
    width: 100%;
    height: 100%;
    padding: 0;
    background: white;
    font-size: 33px;
    margin: 0;
    border: 1px solid grey;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.autocomplete-wrapper__submit__element:hover{
    background: #bebebe;
}
.autocomplete-wrapper__submit__element:active{
    background: #2e2e2e;
}