.cities-wrapper{
    margin-top: 20px;
    width: 100%;
    display: inline-block;
    vertical-align: top;
}
.cities-wrapper__ul{
    width: 100%;
    height: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
}
.cities-wrapper__ul__li{
    border: 1px solid grey;
    width: 200px;
    height: 200px;
    margin: 0 20px 20px 0;
    display: inline-block;
    position: relative;
    padding: 10px;
    box-sizing: border-box;
    vertical-align: top;
}

.cities-wrapper__ul__li__remove{
    cursor: pointer;
    position: absolute;
    width: 20px;
    top: 5px;
    right: 5px;
    height: 20px;
    text-align: center;
    line-height: 20px;
}
.cities-wrapper__ul__li__name{
    width: 100%;
    height: 30px;
    text-align: left;
    text-overflow: ellipsis;
    font-weight: 600;
    font-size: 12px;
}
.cities-wrapper__ul__li__img{
    width: 100px;
    height: 100px;
    display: inline-block;
    vertical-align: top;
}
.cities-wrapper__ul__li__img__element{
    width: 100px;
    height: 100px;
}

.cities-wrapper__ul__li__temperature{
    width: 70px;
    height: 100px;
    font-size: 28px;
    line-height: 100px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
}
.cities-wrapper__ul__li__wind{
    width: 100%;
    height: 25px;
    font-size: 15px;
}
.cities-wrapper__ul__li__pressure{
    width: 100%;
    height: 25px;
    font-size: 15px;
}