.range-wrapper{
    width: 200px;
    height: 70px;
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
}
.range-wrapper__title{
    width: 100%;
    text-align: center;
    font-size: 15px;
    height: 20px;
}
.range-wrapper__slider{
    width: 100%;
    height: 30px;
    text-align: center;
}
.range-wrapper__value{
    width: 100%;
    text-align: center;
    height: 20px;
    font-size: 15px;
}

/* range */

input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    margin: 8.3px 0;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 2.4px;
    cursor: pointer;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.29), 0px 0px 0px rgba(13, 13, 13, 0.29);
    background: rgba(0, 0, 0, 0.4);
    border-radius: 9.3px;
    border: 0px solid rgba(1, 1, 1, 0);
}
input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px rgba(147, 0, 0, 0), 0px 0px 0px rgba(172, 0, 0, 0);
    border: 0.2px solid #ffffff;
    height: 19px;
    width: 13px;
    border-radius: 50px;
    background: #000000;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -8.3px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: rgba(33, 33, 33, 0.4);
}
input[type=range]::-moz-range-track {
    width: 100%;
    height: 2.4px;
    cursor: pointer;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.29), 0px 0px 0px rgba(13, 13, 13, 0.29);
    background: rgba(0, 0, 0, 0.4);
    border-radius: 9.3px;
    border: 0px solid rgba(1, 1, 1, 0);
}
input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 0px rgba(147, 0, 0, 0), 0px 0px 0px rgba(172, 0, 0, 0);
    border: 0.2px solid #ffffff;
    height: 19px;
    width: 13px;
    border-radius: 50px;
    background: #000000;
    cursor: pointer;
}
input[type=range]::-ms-track {
    width: 100%;
    height: 2.4px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: rgba(0, 0, 0, 0.4);
    border: 0px solid rgba(1, 1, 1, 0);
    border-radius: 18.6px;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.29), 0px 0px 0px rgba(13, 13, 13, 0.29);
}
input[type=range]::-ms-fill-upper {
    background: rgba(0, 0, 0, 0.4);
    border: 0px solid rgba(1, 1, 1, 0);
    border-radius: 18.6px;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.29), 0px 0px 0px rgba(13, 13, 13, 0.29);
}
input[type=range]::-ms-thumb {
    box-shadow: 0px 0px 0px rgba(147, 0, 0, 0), 0px 0px 0px rgba(172, 0, 0, 0);
    border: 0.2px solid #ffffff;
    height: 19px;
    width: 13px;
    border-radius: 50px;
    background: #000000;
    cursor: pointer;
    height: 2.4px;
}
input[type=range]:focus::-ms-fill-lower {
    background: rgba(0, 0, 0, 0.4);
}
input[type=range]:focus::-ms-fill-upper {
    background: rgba(33, 33, 33, 0.4);
}

/* range end */